.navbar {
    background-color: #F8EDEB;
    position: fixed;
    overflow: hidden;
    height: 60px; /* Set a fixed height for consistency */
    width: 100%; /* Ensure full width */
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding: 0; /* Remove any padding that could affect size */
    box-sizing: border-box; /* Ensure padding and border are included in height/width */
}

.navbar a {
    display: flex;
    color: #000000;
    flex-grow: 1;
    text-decoration: none;
    padding: 10px; /* Adjust padding for consistent spacing */
    font-size: 17px;
    justify-content: center;
    align-items: center;
}

.navbar a.active {
    outline: 2px black;
}

.navbar a img {
    max-height: 40px; /* Set a maximum height for the images */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the container */
}
